<div class="phiig-body">
    <div class="container" style="padding-top: 30px">
        <!--begin::Portlet-->
        <div class="m-portlet m-portlet--tabs gray-bg">
            <div class="m-portlet__body">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h5>PRIVATE OFFERING PROPERTIES PARTICIPATIONS</h5>
                    </div>
                </div>
                <div class="m--space-20"></div>
                <div class="justify-content-center row">
                    <div class="col-md-7">
                        <form class="m-form m-form--fit m-form--label-align-right">
                            <div class="m-form__group form-group row">
                                <label class="col-4 col-form-label">Amount</label>
                                <div class="col-8">
                                    <input type="text" class="form-control m-input" placeholder="Amount">
                                    <span class="m-form__help">
                                        <label class="m-checkbox">
                                            <input type="checkbox" name="activellcs"> Check to see financial analysis on your contribution amount
                                            <span></span>
                                        </label>
                                    </span>
                                </div>
                            </div>
                            <div class="m-form__group form-group row">
                                <label class="col-4 col-form-label">Source</label>
                                <div class="col-8">
                                    <div class="m-radio-list">
                                        <label class="m-radio">
                                            <input type="radio" name="example_1" value="1" checked> Paypal
                                            <span></span>
                                        </label>
                                        <label class="m-radio">
                                            <input type="radio" name="example_1" value="2"> Credit Card
                                            <span></span>
                                        </label>
                                        <label class="m-radio" name="example_1" value="3">
                                            <input type="radio"> International Online Exchange
                                            <span></span>
                                        </label>

                                    </div>
                                </div>
                            </div>
                            <div class="m-form__group form-group row">
                                <label class="col-4 col-form-label">LLC</label>
                                <div class="col-8" style="padding-top: 7px">
                                    <div class="m-checkbox-list">
                                        <label class="m-checkbox">
                                            <input type="checkbox"> Click to Sign
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="m-form__group form-group row">
                                <label class="col-4 col-form-label">Distribution Setup</label>
                                <div class="col-8" style="padding-top: 7px">
                                    <div class="m-checkbox-list">
                                        <label class="m-checkbox">
                                            <input type="checkbox"> Bank Routing
                                            <span></span>
                                        </label>
                                        <input type="text" class="form-control m-input" placeholder="Bank Routing">
                                        <label class="col-form-label">Account</label>
                                        <input type="text" class="form-control m-input" placeholder="Account">
                                    </div>
                                </div>
                            </div>
                            <div class="m-form__group form-group row">
                                <div class="col-2"></div>
                                <div class="col-8">
                                    <div class="m-checkbox-inline">
                                        <label class="m-checkbox">
                                            <input type="checkbox"> Send Cheque
                                            <span></span>
                                        </label>
                                        <label class="m-checkbox">
                                            <input type="checkbox"> My Wallet
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="m--space-20"></div>
                            <div class="justify-content-center row">
                                <div class="m-form__actions">
                                    <button type="reset" class="btn btn-danger">Submit</button>                       
                                    <button type="reset" class="btn btn-secondary">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--end::Portlet-->
    </div>
</div>