<section class="faq-bg">
    <div style="padding-top: 40px">
    <div class="container faq-inner-bg">
      <div class="row">
        <div class="col-md-2">&nbsp;</div>
        <div style="padding-bottom: 20px; padding-top: 30px;" class="col-md-8">
          <h1 class="text-dark-gray">Frequently Asked Questions (FAQ)</h1>
          <h3 class="text-gray">Please read our FAQ before sending us a message.</h3>
          <div class="questions">
            <div class="question-header">
              <div class="separator">&nbsp;</div><i class="icon icon-arrow-down"></i>
              <h3 class="text-light-gray">Where does it come from</h3>
            </div>
            <div class="question-header">
              <div class="separator">&nbsp;</div><i class="icon icon-arrow-up"></i>
              <h3 class="text-dark-gray">Where does it come from</h3>
              <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia words,</p>
            </div>
            <div class="question-header">
              <div class="separator">&nbsp;</div><i class="icon icon-arrow-down"></i>
              <h3 class="text-light-gray">Where does it come from</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>