<div style="background-color: #fff; padding-bottom: 48px">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 property">
                <h2>PRIVATE PLACEMENT FUNDS</h2>
            </div>
            <div class="separator">&nbsp;</div>
        </div>
        <div class="m--space-10"></div>

        <div class="row list-items list-item gray-bg">
            <div class="m-portlet__body" style="padding: 15px">
            <div class="m-widget4">    
            <div class="m-widget4__item">
                        <div class="m-widget4__img m-widget4__img--logo">
                            <img src="./assets/app/media/img/logos/list-1.jpg" alt="">
                        </div>
                        <div class="m-widget4__info">
                            <span class="m-widget4__title">
                                Phyton
                            </span>
                            <br>
                            <span class="m-widget4__sub">
                                A Programming Language
                            </span>
                        </div>
                       
                    </div>
                </div>
            </div> 
      
        </div>
    </div>
</div>