<div class="phiig-body">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h2 class="text-dark-gray page-header">FORUM</h2>
            </div>
          </div>
          
          <div style="padding: 20px; margin-bottom: 50px;" class="row gray-bg">
            <div class="col-md-3 text-center"><img src="./assets/app/media/img/logos/profile.jpg" alt="profile" class="rounded-circle">
              <p style="color: green;">Online</p>
            </div>
            <div class="col-md-9">
              <h3>Lorem Ipsum</h3>
              <p>Nov. 18 2017</p>
              <p>Contrary to popular belief, Lorem Ipsum is not simply random text.Classical Latin  making it over 2000 years old. </p>
              <button type="button" class="btn btn-danger">Show More</button>
              <hr>
              <div class="row action-buttons">
                <div class="col-md-6"><i style="margin-right: 15px;" class="icon-round like"></i><i style="margin-left: 15px;" class="icon-round dislike"></i></div>
                <div class="col-md-6"><i class="icon-round share float-right"></i></div>
              </div>
            </div>
          </div>
          <div style="padding: 20px; margin-bottom: 50px;" class="row gray-bg">
            <div class="col-md-3 text-center"><img src="./assets/app/media/img/logos/profile.jpg" alt="profile" class="rounded-circle">
              <p>Offline</p>
            </div>
            <div class="col-md-9">
              <h3>Lorem Ipsum</h3>
              <p>Nov. 18 2017</p>
              <p>Contrary to popular belief, Lorem Ipsum is not simply random text.Classical Latin  making it over 2000 years old. </p>
              <button type="button" class="btn btn-danger">Show More</button>
              <hr>
              <div class="row action-buttons">
                <div class="col-md-6"><i style="margin-right: 15px;" class="icon-round like"></i><i style="margin-left: 15px;" class="icon-round dislike"></i></div>
                <div class="col-md-6"><i class="icon-round share float-right"></i></div>
              </div>
            </div>
          </div>
          <div class="row more-btn justify-content-xl-center">
            <button class="btn">Show More</button>
          </div>
        </div>
</div>