<div style="background-color: #fff; padding-bottom: 48px">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12 property">
                <h2>PRIVATE PLACEMENT FUNDS</h2>
              </div>
              <div class="separator">&nbsp;</div>
            </div>
            <div class="m--space-10"></div>
            <div class="row">
                <label class="col-md-4 col-form-label">Name of Fund</label>
            </div>
            <div class="row list-items list-item gray-bg">
              <div class="col-md-6 text-center" (click)="ShowDetail()" style="cursor: pointer"><img src="./assets/app/media/img/logos/list-1.jpg" alt="" class="stretch"></div>
              <div class="col-md-6 item-details">
                <div class="row">
                  <div class="col-md-4">
                    <label>Property Name:</label>
                  </div>
                  <div class="col-md-8"><span>Lorem Ipsum</span></div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label>Address:</label>
                  </div>
                  <div class="col-md-8"><span>Contrary to popular belief, Lorem Ipsum is not simply text.</span></div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label>Tencents:</label>
                  </div>
                  <div class="col-md-8"><span>Lorem Ipsum is not simply text.</span></div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label>CAP Rate:</label>
                  </div>
                  <div class="col-md-8"><span>1232565</span></div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label>Price:</label>
                  </div>
                  <div class="col-md-8"><span>1232565</span></div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <button class="btn btn-sm btn-danger" routerLink="/fund">Participate</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row list-items list-item gray-bg">
              <div class="col-md-6 text-center"><img src="./assets/app/media/img/logos/list-2.jpg" alt="" class="stretch"></div>
              <div class="col-md-6 item-details">
                <div class="row">
                  <div class="col-md-4">
                    <label>Property Name:</label>
                  </div>
                  <div class="col-md-8"><span>Lorem Ipsum</span></div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label>Address:</label>
                  </div>
                  <div class="col-md-8"><span>Contrary to popular belief, Lorem Ipsum is not simply text.</span></div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label>Tencents:</label>
                  </div>
                  <div class="col-md-8"><span>Lorem Ipsum is not simply text.</span></div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label>CAP Rate:</label>
                  </div>
                  <div class="col-md-8"><span>1232565</span></div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label>Price:</label>
                  </div>
                  <div class="col-md-8"><span>1232565</span></div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <button class="btn btn-sm btn-danger" routerLink="/fund">Participate</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row list-items gray-bg">
              <div class="col-md-6 text-center"><img src="./assets/app/media/img/logos/list-3.jpg" alt="" class="stretch"></div>
              <div class="col-md-6 item-details">
                <div class="row">
                  <div class="col-md-4">
                    <label>Property Name:</label>
                  </div>
                  <div class="col-md-8"><span>Lorem Ipsum</span></div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label>Address:</label>
                  </div>
                  <div class="col-md-8"><span>Contrary to popular belief, Lorem Ipsum is not simply text.</span></div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label>Tencents:</label>
                  </div>
                  <div class="col-md-8"><span>Lorem Ipsum is not simply text.</span></div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label>CAP Rate:</label>
                  </div>
                  <div class="col-md-8"><span>1232565</span></div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label>Price:</label>
                  </div>
                  <div class="col-md-8"><span>1232565</span></div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <button class="btn btn-sm btn-danger" routerLink="/fund">Participate</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row more-btn justify-content-xl-center">
              <button class="btn">Show More</button>
            </div>
          </div>
        </div>  
        
        