<div class="phiig-body">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="text-dark-gray page-header">PRIVATE PLACEMENT FUNDS</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>Name of Fund</h2>
      </div>
    </div>
    <div style="padding: 10px; margin-bottom: 60px" class="row gray-bg">
      <div class="col-md-6">
        <div style="margin-top: 25px; margin-bottom: 25px;" class="row">
          <div class="col-md-6 text-center"><img src="./assets/app/media/img/logos/list-1.jpg" alt="list image" width="199" height="187" class="img-fluid"/></div>
          <div class="col-md-6 item-details"> 
            <div class="row">
              <div class="col-md-6"><label>City</label></div>
              <div class="col-md-6"><span>Loem Ipsum</span> </div>
            </div>
            <div class="row">
              <div class="col-md-6"><label>State</label></div>
              <div class="col-md-6"><span>Loem Ipsum</span></div>
            </div>
            <div class="row">
              <div class="col-md-6"><label>CPA Rate</label></div>
              <div class="col-md-6"><span>120000</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div style="margin-top: 25px; margin-bottom: 25px;" class="row">
          <div class="col-md-6 text-center"><img src="./assets/app/media/img/logos/list-2.jpg" alt="list image" width="199" height="187" class="img-fluid"/></div>
          <div class="col-md-6 item-details"> 
              <div class="row">
                <div class="col-md-6"><label>City</label></div>
                <div class="col-md-6"><span>Loem Ipsum</span> </div>
              </div>
              <div class="row">
                <div class="col-md-6"><label>State</label></div>
                <div class="col-md-6"><span>Loem Ipsum</span></div>
              </div>
              <div class="row">
                <div class="col-md-6"><label>CPA Rate</label></div>
                <div class="col-md-6"><span>120000</span></div>
              </div>
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <div style="margin-top: 25px; margin-bottom: 25px;" class="row">
          <div class="col-md-6 text-center"><img src="./assets/app/media/img/logos/list-3.jpg" alt="list image" width="199" height="187" class="img-fluid"/></div>
          <div class="col-md-6 item-details"> 
              <div class="row">
                <div class="col-md-6"><label>City</label></div>
                <div class="col-md-6"><span>Loem Ipsum</span> </div>
              </div>
              <div class="row">
                <div class="col-md-6"><label>State</label></div>
                <div class="col-md-6"><span>Loem Ipsum</span></div>
              </div>
              <div class="row">
                <div class="col-md-6"><label>CPA Rate</label></div>
                <div class="col-md-6"><span>120000</span></div>
              </div>
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <div style="margin-top: 25px; margin-bottom: 25px;" class="row">
          <div class="col-md-6 text-center"><img src="./assets/app/media/img/logos/list-4.jpg" alt="list image" width="199" height="187" class="img-fluid"/></div>
          <div class="col-md-6 item-details"> 
              <div class="row">
                <div class="col-md-6"><label>City</label></div>
                <div class="col-md-6"><span>Loem Ipsum</span> </div>
              </div>
              <div class="row">
                <div class="col-md-6"><label>State</label></div>
                <div class="col-md-6"><span>Loem Ipsum</span></div>
              </div>
              <div class="row">
                <div class="col-md-6"><label>CPA Rate</label></div>
                <div class="col-md-6"><span>120000</span></div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>Name of Fund</h2>
      </div>
    </div>
    <div style="padding: 10px; margin-bottom: 60px" class="row gray-bg">
      <div class="col-md-6">
        <div style="margin-top: 25px; margin-bottom: 25px;" class="row">
          <div class="col-md-6 text-center"><img src="./assets/app/media/img/logos/list-1.jpg" alt="list image" width="199" height="187" class="img-fluid"/></div>
          <div class="col-md-6 item-details"> 
              <div class="row">
                <div class="col-md-6"><label>City</label></div>
                <div class="col-md-6"><span>Loem Ipsum</span> </div>
              </div>
              <div class="row">
                <div class="col-md-6"><label>State</label></div>
                <div class="col-md-6"><span>Loem Ipsum</span></div>
              </div>
              <div class="row">
                <div class="col-md-6"><label>CPA Rate</label></div>
                <div class="col-md-6"><span>120000</span></div>
              </div>
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <div style="margin-top: 25px; margin-bottom: 25px;" class="row">
          <div class="col-md-6 text-center"><img src="./assets/app/media/img/logos/list-2.jpg" alt="list image" width="199" height="187" class="img-fluid"/></div>
          <div class="col-md-6 item-details"> 
              <div class="row">
                <div class="col-md-6"><label>City</label></div>
                <div class="col-md-6"><span>Loem Ipsum</span> </div>
              </div>
              <div class="row">
                <div class="col-md-6"><label>State</label></div>
                <div class="col-md-6"><span>Loem Ipsum</span></div>
              </div>
              <div class="row">
                <div class="col-md-6"><label>CPA Rate</label></div>
                <div class="col-md-6"><span>120000</span></div>
              </div>
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <div style="margin-top: 25px; margin-bottom: 25px;" class="row">
          <div class="col-md-6 text-center"><img src="./assets/app/media/img/logos/list-3.jpg" alt="list image" width="199" height="187" class="img-fluid"/></div>
          <div class="col-md-6 item-details"> 
              <div class="row">
                <div class="col-md-6"><label>City</label></div>
                <div class="col-md-6"><span>Loem Ipsum</span> </div>
              </div>
              <div class="row">
                <div class="col-md-6"><label>State</label></div>
                <div class="col-md-6"><span>Loem Ipsum</span></div>
              </div>
              <div class="row">
                <div class="col-md-6"><label>CPA Rate</label></div>
                <div class="col-md-6"><span>120000</span></div>
              </div>
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <div style="margin-top: 25px; margin-bottom: 25px;" class="row">
          <div class="col-md-6 text-center"><img src="./assets/app/media/img/logos/list-4.jpg" alt="list image" width="199" height="187" class="img-fluid"/></div>
          <div class="col-md-6 item-details"> 
              <div class="row">
                <div class="col-md-6"><label>City</label></div>
                <div class="col-md-6"><span>Loem Ipsum</span> </div>
              </div>
              <div class="row">
                <div class="col-md-6"><label>State</label></div>
                <div class="col-md-6"><span>Loem Ipsum</span></div>
              </div>
              <div class="row">
                <div class="col-md-6"><label>CPA Rate</label></div>
                <div class="col-md-6"><span>120000</span></div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="row more-btn justify-content-xl-center">
      <button class="btn">Show More</button>
    </div>
  </div>
</div>