<div style="background-color: #fff">
<section>
    <div class="banner-outer">
      <div style="margin-top: 3px;" class="banner-inner"><img src="./assets/app/media/img/logos/banner-pf-6.jpg" alt="banner" style="width: 100%;" class="img-fluid"/></div>
    </div>
  </section>
  <section class="container pf-container">
    <h2>WHY MEMBERSHIP AND BENIFITS OF JOINING US?</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,    </p>
    <p><span class="m-badge m-badge--brand"></span>&nbsp;Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    <p><span class="m-badge m-badge--brand"></span>&nbsp;Lorem Ipsum is simply dummy text of the</p>
    <p><span class="m-badge m-badge--brand"></span>&nbsp;Lorem Ipsum is simply dummy text of the printing</p>
  </section>
  <section class="container">
    <div class="box-card d-flex justify-content-center">
      <div style="width: 253px; height: 338px; float: left; margin: 5px;" class="card card-3 text-center small-card">
        <div class="mx-auto"><img src="./assets/app/media/img/logos/home.png" width="55px" height="60px" alt="Card image cap" class="card-img-top"/></div>
        <h3 class="m--font-danger"  style="padding-top: 10px">PROPERTY</h3>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Lorem Ipsum is simply dummy text of the  printing and typesetting industry. It has survived not only five centuries</li>
          <li class="list-group-item">Lorem Ipsum is simply dummy text of the</li>
          <li class="list-group-item">printing and typesetting industry. </li>
        </ul>
        <div class="card-block">
          <button class="btn m-btn--square btn-danger" routerLink="/property">Show More</button>
        </div>
      </div>
      <div style="width: 280px; height: 380px; float: left; margin: 5px;" class="card card-3 text-center large-card">
        <div class="mx-auto"><img src="./assets/app/media/img/logos/share.png" width="55px" height="60px" alt="Card image cap" class="card-img-top"/></div>
        <h3 class="m--font-danger"  style="padding-top: 15px">FUND</h3>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Lorem Ipsum is simply dummy text of the  printing and typesetting industry. It has survived not only five centuries</li>
          <li class="list-group-item">Lorem Ipsum is simply dummy text of the</li>
          <li class="list-group-item">printing and typesetting industry. </li>
        </ul>
        <div class="card-block">
          <button class="btn m-btn--square btn-danger" routerLink="/pri-placement">Show More</button>
        </div>
      </div>
      <div style="width: 253px; height: 338px; float: left; margin: 5px;" class="card card-3 text-center small-card">
        <div class="mx-auto"><img src="./assets/app/media/img/logos/chat.png" width="55px" height="60px" alt="Card image cap" class="card-img-top"/></div>
        <h3 class="m--font-danger"  style="padding-top: 10px">FORUM</h3>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Lorem Ipsum is simply dummy text of the  printing and typesetting industry. It has survived not only five centuries</li>
          <li class="list-group-item">Lorem Ipsum is simply dummy text of the</li>
          <li class="list-group-item">printing and typesetting industry. </li>
        </ul>
        <div class="card-block">
          <button class="btn m-btn--square btn-danger" routerLink="/forum">Show More</button>
        </div>
      </div>
    </div>
</section>
</div>