<div style="background-color: #fff" class="list-detail">
    <div class="container">
        <div class="row list-items list-item gray-bg">
          <div class="col-md-6 text-center">
              <label>Price:</label><span>&nbsp;</span><span>1232565</span><br/>
              <img src="./assets/app/media/img/logos/list-1.jpg" alt="" >
            </div>
          <div class="col-md-6 item-details">
            <div class="row">
              <div class="col-md-4">
                <label>Property Name:</label>
              </div>
              <div class="col-md-8"><span>Lorem Ipsum</span></div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label>Address:</label>
              </div>
              <div class="col-md-8"><span>Contrary to popular belief, Lorem Ipsum is not simply text.</span></div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label>Tencents:</label>
              </div>
              <div class="col-md-8"><span>Lorem Ipsum is not simply text.</span></div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label>CAP Rate:</label>
              </div>
              <div class="col-md-8"><span>1232565</span></div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label>Lease Hold:</label>
              </div>
              <div class="col-md-8"><span>Yes/No</span></div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label>Description:</label>
                </div>
                <div class="col-md-8"><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry</span></div>
            </div>
            <br/>
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-8">
                <button class="btn btn-sm btn-danger" routerLink="#">View Document</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
    
    