<div style="background-color: #fff">
<div class="container">
    <div class="row text-center">
        <div class="col-md-12 property">
        <h2>PROPERTY</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a</p>
      </div>
      <div class="separator">&nbsp;</div>
    </div>
    <div class="row list-controller">
      <!-- <div class="col-md-1"><i class="icon-view icon-list"></i>list</div> -->
      <!-- <div class="col-md-1"><i class="icon-view icon-grid"></i>grid</div> -->
      <div class="col-md-6"></div>
      <label class="col-md-1 col-form-label">Sort By:</label>
      <div class="col-md-2"> 
        <select class="form-control m-select2" id="m_select2_1" name="sortBy" data-placeholder="" style="width: 180px">
            <option value="AK">
                    Most Recent
            </option>
        </select>
      </div>
      <label class="col-md-1 col-form-label">Filter By:</label>
      <div class="col-md-2"> 
        <select class="form-control m-select2" id="m_select2_1" name="sortBy" data-placeholder="" style="width: 180px">
          <option value="All">All</option>
        </select>
      </div>
    </div>
    <div class="row list-items list-item gray-bg">
      <div class="col-md-6 text-center"><img src="./assets/app/media/img/logos/list-1.jpg" alt="" class="stretch"></div>
      <div class="col-md-6 item-details">
        <div class="row">
          <div class="col-md-4">
            <label>Property Name:</label>
          </div>
          <div class="col-md-8"><span>Lorem Ipsum</span></div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label>Address:</label>
          </div>
          <div class="col-md-8"><span>Contrary to popular belief, Lorem Ipsum is not simply text.</span></div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label>Tencents:</label>
          </div>
          <div class="col-md-8"><span>Lorem Ipsum is not simply text.</span></div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label>CAP Rate:</label>
          </div>
          <div class="col-md-8"><span>1232565</span></div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label>Price:</label>
          </div>
          <div class="col-md-8"><span>1232565</span></div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-sm btn-danger" routerLink="/fund">Participate</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row list-items list-item gray-bg">
      <div class="col-md-6 text-center"><img src="./assets/app/media/img/logos/list-2.jpg" alt="" class="stretch"></div>
      <div class="col-md-6 item-details">
        <div class="row">
          <div class="col-md-4">
            <label>Property Name:</label>
          </div>
          <div class="col-md-8"><span>Lorem Ipsum</span></div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label>Address:</label>
          </div>
          <div class="col-md-8"><span>Contrary to popular belief, Lorem Ipsum is not simply text.</span></div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label>Tencents:</label>
          </div>
          <div class="col-md-8"><span>Lorem Ipsum is not simply text.</span></div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label>CAP Rate:</label>
          </div>
          <div class="col-md-8"><span>1232565</span></div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label>Price:</label>
          </div>
          <div class="col-md-8"><span>1232565</span></div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-sm btn-danger" routerLink="/fund">Participate</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row list-items gray-bg">
      <div class="col-md-6 text-center"><img src="./assets/app/media/img/logos/list-3.jpg" alt="" class="stretch"></div>
      <div class="col-md-6 item-details">
        <div class="row">
          <div class="col-md-4">
            <label>Property Name:</label>
          </div>
          <div class="col-md-8"><span>Lorem Ipsum</span></div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label>Address:</label>
          </div>
          <div class="col-md-8"><span>Contrary to popular belief, Lorem Ipsum is not simply text.</span></div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label>Tencents:</label>
          </div>
          <div class="col-md-8"><span>Lorem Ipsum is not simply text.</span></div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label>CAP Rate:</label>
          </div>
          <div class="col-md-8"><span>1232565</span></div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label>Price:</label>
          </div>
          <div class="col-md-8"><span>1232565</span></div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-sm btn-danger" routerLink="/fund">Participate</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row more-btn justify-content-xl-center">
      <button class="btn">Show More</button>
    </div>
  </div>
</div>  

