<section>
		<nav>
			<div class="col-md-12">
				<div class="row nav-header">
					<div class="col-md-3"><img src="./assets/app/media/img/logos/logo-2.jpg" style="width: 300px; height: 80px; margin-left: 17%;"></div>
					<div class="col-md-9">
						<div class="row nav-items float-md-right justify-content-center">
							<ul class="nav pull-right">
								<li class="nav-item"><a href="#" class="nav-link">Why Commercial Real Estate?</a></li>
								<li class="nav-item"><a routerLink="/became" class="nav-link">Why Era-X?</a></li>
								<li class="nav-item"><a routerLink="/faq" class="nav-link" >FAQ</a></li>
								<!-- (click)="goToFaq()" -->
							</ul>
							<div id="header-button">
								<button type="button" class="btn btn-outline-dark" (click)="signUp()">Join us</button>
								<button type="button" class="btn btn-danger" routerLink="/login">Log in</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>
</section>