<div class="container">
	<section class="banner-outer">
	  <nav>
		<div class="col-md-12">
		  <div class="row nav-header">
			<div class="col-md-3"><img src="./assets/app/media/img/logos/logo.png" width="186px" height="86px"></div>
			<div class="col-md-9">
			  <div class="row nav-items float-md-right">
				<!--.col-md-9-->
				<!-- <i class="material-icons">keyboard_arrow_down</i> -->
				<ul class="nav pull-right"> 
				  <!-- <li class="nav-item"><a href="#" class="nav-link">Services&nbsp;<i class="fa fa-angle-down"></i></a></li> -->
				  <li class="nav-item"><a href="#" class="nav-link">Why Commercial Real Estate?</a></li>
				  <li class="nav-item"><a href="#" class="nav-link">Why Era-X?</a></li>
				  <li class="nav-item"><a href="#" class="nav-link">FAQ</a></li>
				</ul>
				<!--.col-md-3-->
				<div id="header-button">
				  <button type="button" class="btn btn-outline-secondary" (click)="signUp()">Join us</button>
				  <button type="button" class="btn btn-danger" routerLink="/login">Log in</button>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </nav>
	  <div class="banner-inner">
		<div class="col-md-6 text-md-center offset-md-3">
		  <p class="banner-text">First Investment Platform Built On BLOCKCHAIN TECHNOLOGY</p>
		  <div id="banner-button">
			<button type="button" style="color: #bd161c; font-weight: bold;" class="btn btn-light" (click)="signUp()">Join us</button>
			<button type="button" class="btn btn-danger" routerLink="/login">Log in</button>
		  </div>
		</div>
	  </div>
	</section>
	<section class="body-content row">
	  <div class="col-md-6"><img src="./assets/app/media/img/logos/content-1.jpg" alt="content" class="img-responsive"></div>
	  <div class="col-md-6">
		<h4 class="text-uppercase">Why Commercial Real Estate (CRE) Investment?</h4>&nbsp;&nbsp;
		<p> - CRE Market is Almost Save Size As Stock Market </p>
		<p> - CRE is Not Volative </p>
		<p> - CRE Market Has No Headache and Trouble With Family and Individual Tenants in Residental Properties </p>
		<p> - CRE Provides Steady Passive Income (Partialy Tax Free) </p>&nbsp;
		<button type="button" class="btn btn-danger">Read more</button>
	  </div>
	</section>
	<section class="body-content row">
	  <div class="col-md-6">
		<h4 class="text-uppercase">Why Era-X?</h4>&nbsp;&nbsp;
		<p> - Proven Investment Method </p>
		<p> - Era-X Provides Platform For Investment and Droptunities that are More Liquid Yet Robust Performance </p>
		<p> - Blockchain Technology Yields Better Protection to Your Investment Transactions and Future Liquidity in Currency Formats </p>&nbsp;
		<button type="button" class="btn btn-danger">Read more</button>
	  </div>
	  <div class="col-md-6"><img src="./assets/app/media/img/logos/content-2.jpg" alt="content" class="img-responsive"></div>
	</section>
	<section id="became-member">
	  <div class="col-md-6 text-md-center offset-md-3">
		<h1 style="padding: 5px; margin-bottom: 32px;">Become a Member Today</h1>
		<button type="button" class="btn btn-danger" (click)="signUp()">Register Now</button>
	  </div>
	</section>
	<section id="your-story" class="text-md-center">
	  <h1 class="story-header text-uppercase">it's your story to tell</h1>
	  <p class="story-details">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled </p>
	  <p>"Name Here"</p><img src="./assets/app/media/img/logos/round-btn.png" alt="content">
	</section>
	<footer>
	  <div style="margin-bottom: 40px;" class="row">
		<div class="col-md-3 offset-md-1"><img src="./assets/app/media/img/logos/logo.png" width="186px" height="86px"></div>
		<div class="col-md-2">
		  <h3 class="text-uppercase">site map</h3>
		  <ul>
			<li> <a href="#">Why CRE Investment?</a></li>
			<li> <a href="#">Why Era-X?</a></li>
			<li> <a href="#">FAQ</a></li>
		  </ul>
		</div>
		<div class="col-md-2">
		  <h3 class="text-uppercase">policies</h3>
		  <ul>
			<li> <a href="#">Terms Of Service</a></li>
			<li> <a href="#">Privacy Policy</a></li>
			<li> <a href="#">Posting Policy</a></li>
		  </ul>
		</div>
		<div class="col-md-3">
		  <h3 class="text-uppercase">contact us</h3>
		  <address>
			70 Bowman St.<br/>
			South Windsor, CT 06074<br/>
			+1-202-536-9990<br/>
			info@yahoo.com
		  </address>
		</div>
	  </div>
	  <section class="social row">
		<div class="col-md-4 offset-md-4">
		  <ul class="text-md-center">
			<li><a href="#" class="icon fb"></a></li>
			<li><a href="#" class="icon ig"></a></li>
			<li><a href="#" class="icon gplus"></a></li>
			<li><a href="#" class="icon twit"></a></li>
		  </ul>
		</div>
	  </section>
	</footer>
	<section class="copy-right text-center">copyright &copy; 2017 PHIIG Investment Group</section>
  </div>