<section>
			<div class="banner-outer">
				<div style="margin-top: 3px;" class="banner-inner"><img src="./assets/app/media/img/logos/banner-1.1.jpg" alt="banner" style="width: 100%;" class="img-fluid"></div>
				<div id="banner-button" class="button-group">
					<button type="button" style="color: #bd161c; font-weight: bold;" class="btn btn-light" (click)="signUp()">Join us</button>
					<button type="button" class="btn btn-danger" routerLink="/login">Log in</button>
				</div>
			</div>
</section>
		<section class="body-content container">
			<div class="row">
				<div class="col-md-6"><img src="./assets/app/media/img/logos/content-1.jpg" alt="content" class="img-fluid"></div>
				<div class="col-md-6">
					<h4 class="text-uppercse">Why Commercial Real Estate (CRE) Investment?</h4>
					<p> - CRE Market is Almost Save Size As Stock Market </p>
		<p> - CRE is Not Volative </p>
		<p> - CRE Market Has No Headache and Trouble With Family and Individual Tenants in Residental Properties </p>
		<p> - CRE Provides Steady Passive Income (Partialy Tax Free) </p>&nbsp;
					<button type="button" class="btn btn-danger">Read more</button>
				</div>
			</div>
		</section>
		<div class="separator">&nbsp;</div>
		<section class="body-content container">
			<div class="row">
				<div class="col-md-6 push-md-6">
					<h4 class="text-uppercase">Why Era-X?</h4>
			<p> - Proven Investment Method </p>
		<p> - Era-X Provides Platform For Investment and Droptunities that are More Liquid Yet Robust Performance </p>
		<p> - Blockchain Technology Yields Better Protection to Your Investment Transactions and Future Liquidity in Currency Formats </p>&nbsp;
			<button type="button" class="btn btn-danger">Read more</button>
				</div>
				<div class="col-md-6 pull-md-6"><img src="./assets/app/media/img/logos/content-2.jpg" alt="content" class="img-fluid"></div>
			</div>
		</section>
		<div class="separator">&nbsp;</div>
		<section id="became-member"><img src="./assets/app/media/img/logos/banner-2.jpg" alt="content" style="width: 100%;" class="img-fluid">
			<button id="register-btn" type="button" class="btn btn-danger" routerLink="/member">Register Now</button>
		</section>
		<section id="your-story" class="text-md-center">
			<h1 class="story-header text-uppercase">it's your story to tell</h1>
			<p class="story-details">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled </p>
			<p>"Name Here"</p>
			<div class="paging-btn justify-content-center row">
				<button class="active"></button>
				<button></button>
				<button></button>
			</div>
		</section>