<div class="phiig-body">
        <div class="container">
            <div class="row text-center ">
              <div class="col-md-12 funds">
                <h2>PRIVATE PLACEMENT FUNDS</h2>
              </div>
              
            </div>
            <div class="row fund-list-controller">
              <div class="col-md-6"></div>
              <label class="col-md-1 col-form-label">Sort By:</label>
              <div class="col-md-2"> 
                <select class="form-control m-select2" id="m_select2_1" name="sortBy" data-placeholder="" style="width: 180px">
                    <option value="AK">
                            Most Recent
                    </option>
                </select>
              </div>
              <label class="col-md-1 col-form-label">Filter By:</label>
              <div class="col-md-2"> 
                <select class="form-control m-select2" id="m_select2_1" name="sortBy" data-placeholder="" style="width: 180px">
                  <option value="All">All</option>
                </select>
              </div>
              <div class="funds-separator" >&nbsp;</div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <form class="m-form m-form--fit m-form--label-align-right">
                    <div class="form-group m-form__group row">
                        <label class="col-lg-2 col-form-label">Name of Fund 1:</label>
                        <div class="col-lg-2">
                            <input type="text" class="form-control m-input" placeholder="Enter name of fund">
                        </div>
                        <label class="col-lg-2 col-form-label">Fund Size:</label>
                        <div class="col-lg-2">
                            <input type="text" class="form-control m-input" placeholder="Enter fund size">
                        </div>
                        <label class="col-lg-2 col-form-label">CAP Rate:</label>
                        <div class="col-lg-2">
                            <input type="text" class="form-control m-input" placeholder="Enter cap rate">
                        </div>
                      </div>
                </form>
              </div>
            </div>
           
            <div class="row list-items list-item gray-bg">
              <div class="col-md-4 text-center"><img src="./assets/app/media/img/logos/list-2.jpg" alt="" class="stretch"></div>
              <div class="col-md-4 text-center"><img src="./assets/app/media/img/logos/list-1.jpg" alt="" class="stretch"></div>
              <div class="col-md-4 text-center"><img src="./assets/app/media/img/logos/list-3.jpg" alt="" class="stretch"></div>
            </div>

            <div class="row">
                <div class="col-md-12">
                  <form class="m-form m-form--fit m-form--label-align-right">
                      <div class="form-group m-form__group row">
                          <label class="col-lg-2 col-form-label">Name of Fund 2:</label>
                          <div class="col-lg-2">
                              <input type="text" class="form-control m-input" placeholder="Enter name of fund">
                          </div>
                          <label class="col-lg-2 col-form-label">Fund Size:</label>
                          <div class="col-lg-2">
                              <input type="text" class="form-control m-input" placeholder="Enter fund size">
                          </div>
                          <label class="col-lg-2 col-form-label">CAP Rate:</label>
                          <div class="col-lg-2">
                              <input type="text" class="form-control m-input" placeholder="Enter cap rate">
                          </div>
                        </div>
                  </form>
                </div>
              </div>
             
              <div class="row list-items list-item gray-bg">
                <div class="col-md-4 text-center"><img src="./assets/app/media/img/logos/list-2.jpg" alt="" class="stretch"></div>
                <div class="col-md-4 text-center"><img src="./assets/app/media/img/logos/list-1.jpg" alt="" class="stretch"></div>
                <div class="col-md-4 text-center"><img src="./assets/app/media/img/logos/list-3.jpg" alt="" class="stretch"></div>
              </div>
            
            <div class="row more-btn justify-content-xl-center">
              <button class="btn">Show More</button>
            </div>
          </div>
        </div>  
        
        