<div class="phiig-body">
    <div class="container" style="padding-top: 30px">
        <!--begin::Portlet-->
        <div class="m-portlet m-portlet--tabs gray-bg">
            <div class="m-portlet__head">
                <div class="m-portlet__head-tools">
                    <ul class="nav nav-tabs m-tabs-line m-tabs-line--primary m-tabs-line--2x" role="tablist">
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_6_1" role="tab">
                                Setup LLC
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_2" role="tab">
                                Manage Moving Investors
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="tab-content ">
                    <div class="tab-pane active" id="m_tabs_6_1" role="tabpanel">
                        <div class="justify-content-center row">
                            <div class="col-md-6">
                                <form class="m-form m-form--fit m-form--label-align-right">
                                    <div class="m-portlet__body">
                                        <div class="m-form__group form-group row">
                                            <label class="col-5 col-form-label">Name of LLC</label>
                                            <div class="col-7">
                                                <input type="text" class="form-control m-input" placeholder="Name of LLC">
                                            </div>
                                        </div>
                                        <div class="m-form__group form-group row">
                                            <label class="col-5 col-form-label">Management Fee</label>
                                            <div class="col-7 input-group m-input-group">
                                                <input type="text" class="form-control m-input" placeholder="Management Fee">
                                                <span class="input-group-addon">%</span>
                                            </div>
                                        </div>
                                        <div class="m-form__group form-group row">
                                            <label class="col-5 col-form-label">State of LLC</label>
                                            <div class="col-7">
                                                <input type="text" class="form-control m-input" placeholder="State of LLC">
                                            </div>
                                        </div>
                                        <div class="m-form__group form-group row">
                                            <label class="col-5 col-form-label">Minimun Investment</label>
                                            <div class="col-7 input-group m-input-group">
                                                <input type="text" class="form-control m-input" placeholder="Minimun Investment">
                                                <span class="input-group-addon">If any</span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6">
                                    <form class="m-form m-form--fit m-form--label-align-right">
                                        <div class="m-portlet__body">
                                            <div class="m-form__group form-group row">
                                                <label class="col-5 col-form-label">Interest Rate</label>
                                                <div class="col-7">
                                                    <input type="text" class="form-control m-input" placeholder="Interest Rate">
                                                </div>
                                            </div>
                                            <div class="m-form__group form-group row">
                                                <label class="col-5 col-form-label">Tenure</label>
                                                <div class="col-7">
                                                    <input type="text" class="form-control m-input" placeholder="Months/ Year">
                                                </div>
                                            </div>
                                            <div class="m-form__group form-group row">
                                                <label class="col-5 col-form-label">Calculate Interest Rate</label>
                                                <div class="col-7">
                                                    <input type="text" class="form-control m-input" placeholder="Calculate Interest Rate">
                                                </div>
                                            </div>
                                            <div class="m-form__group form-group justify-content-center row">
                                                <label class="col-5 col-form-label">Signature Here</label>
                                                <div class="col-7">
                                                    <label class="custom-file">
                                                        <input type="file" id="file2" class="custom-file-input">
                                                        <span class="custom-file-control"></span>
                                                    </label>
                                                    <span class="m-form__help" style="color: blue">
                                                        Click here to upload operating aggrement and sign it electronically
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="m--space-40"></div>
                                <div class="justify-content-center row">
                                    <div class="m-form__actions">
                                        <button type="reset" class="btn btn-danger">Submit</button>
                                        <button type="reset" class="btn btn-secondary">Cancel</button>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="m_tabs_6_2" role="tabpanel">
                        <div class="justify-content-center row">
                            <div class="col-md-6">
                                <form class="m-form m-form--fit m-form--label-align-right">
                                    <div class="m-portlet__body">
                                        <div class="m-form__group form-group row">
                                            <label class="col-4 col-form-label">Investor Name</label>
                                            <div class="col-8">
                                                <input type="text" class="form-control m-input" placeholder="Investor Name">
                                            </div>
                                        </div>
                                        <div class="m-form__group form-group row">
                                            <label class="col-4 col-form-label">Email ID
                                            </label>
                                            <div class="col-8">
                                                <input type="text" class="form-control m-input" placeholder="Email ID">
                                            </div>
                                        </div>
                                        <div class="m-form__group form-group row">
                                            <label class="col-4 col-form-label">From LLC</label>
                                            <div class="col-8">
                                                <select class="form-control m-select2" id="m_select2_1" name="tollc" data-placeholder="Select" style="width: 100%">
                                                    <option></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="col-md-6">
                                <form class="m-form m-form--fit m-form--label-align-right">
                                    <div class="m-portlet__body">
                                        <div class="m-form__group form-group row">
                                            <label class="col-4 col-form-label">Account to Move</label>
                                            <div class="col-8">
                                                <input type="text" class="form-control m-input" placeholder="Account to Move">
                                            </div>
                                        </div>
                                        <div class="m--space-40"></div>
                                        <div class="m-form__group form-group row" style="padding-top: 45px">
                                            <label class="col-4 col-form-label">To</label>
                                            <div class="col-8">
                                                <select class="form-control m-select2" id="m_select2_2" name="tollc" data-placeholder="Select" style="width: 100%">
                                                    <option></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-12">
                                <form class="m-form m-form--fit m-form--label-align-right">
                                    <div class="m-form__group form-group row">
                                        <label class="col-5 col-form-label">Status</label>
                                        <div class="col-7">
                                            <div class="m-radio-inline">
                                                <label class="m-radio">
                                                    <input type="radio" name="status" value="Pending">Pending
                                                    <span></span>
                                                </label>
                                                <label class="m-radio">
                                                    <input type="radio" name="status" value="Denied">Denied
                                                    <span></span>
                                                </label>
                                                <label class="m-radio">
                                                    <input type="radio" name="status" value="Approved">Approved
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="m--space-40"></div>
                        <div class="justify-content-center row">
                            <div class="m-form__actions">
                                <button type="reset" class="btn btn-danger">Submit</button>
                                <button type="reset" class="btn btn-secondary">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end::Portlet-->
    </div>
</div>