<div class="m--space-5"></div>
<div class="phiig-body">
    <div class="row">
        <div class="col-lg-10" style="margin: auto">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                MEMBERSHIP FEE
                                <br/>
                                <small>(Fully applied to your next investment)</small>
                            </h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
                    <div class="m-form__actions m-form__actions--solid">
                        <div class="form-group m-form__group row">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-9">
                                <div class="m-radio-inline">
                                    <label class="m-radio m-radio--solid">
                                        <input type="radio" name="example_2" value=""> Paypal
                                        <span></span>
                                    </label>
                                    <label class="col-lg-3"></label>
                                    <label class="m-radio m-radio--solid">
                                        <input type="radio" name="example_2" value=""> International Online Exchange
                                        <span></span>
                                    </label>

                                </div>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-9">
                                <div class="m-radio-inline">
                                    <label class="m-radio m-radio--solid">
                                        <input type="radio" name="example_2" checked value=""> Cradit Card
                                        <span></span>
                                    </label>
                                    <label class="col-lg-2" style="margin-left: 25px"></label>
                                    <label class="m-radio m-radio--solid">
                                        <input type="radio" name="example_2" value=""> Cryptocurrency Exchange
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">Card Number</label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control m-input" placeholder="Enter card number">
                            </div>
                            <label class="col-lg-2 col-form-label">Expiry Date</label>
                            <div class="col-lg-3">
                                <div class='input-group date' id='m_datepicker_3'>
                                    <input type='text' class="form-control m-input" readonly placeholder="Select date" />
                                    <span class="input-group-addon">
                                        <i class="la la-calendar-check-o"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">CVV </label>
                            <div class="col-lg-3">
                                <div class="m-input-icon m-input-icon--right">
                                    <input type="text" class="form-control m-input" placeholder="Enter cvv code">
                                    <span class="m-form__help">
                                        3 Digits Code
                                    </span>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <div class="row">
                                <div class="col-lg-5"></div>
                                <div class="col-lg-7">
                                    <button type="reset" class="btn btn-brand" routerLink="/property">
                                        <li class="fa fa-check"></li>
                                        Submit
                                    </button>
                                    <button type="reset" class="btn btn-secondary">
                                        Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>