/* You can add global styles to this file, and also import other style files */

.funds-separator{
    height: 3px;
    background-color: #c9caca;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.list-detail{
    padding-top: 20px;
    padding-bottom: 20px;
}

.funds {
    margin-top: 36px;
}

.fund-list-controller{
    margin-top: 30px;
}

.stretch {
    height:250px;
}

.card-block{
    margin-top: 10px;
}

.phiig-body{
   background-color: #fff;
   padding-bottom: 48px;
}

.center-div {
    margin: auto;
}

