/* You can add global styles to this file, and also import other style files */
.banner-outer{
    position: relative;
}
.gray-bg{
    background-color: #e6e7e8;
}

#banner-button{
    position: absolute;
    bottom: 10%;
    left: 45%;
}

.nav-header{
    background-color: #dae2e4;
    padding: 10px;
    box-shadow: 0px 3px 1px #505050;
}

.nav-header a.nav-link{
    color: #353233;
    position: relative;
    margin-top: -5px;
}

.nav-header a.nav-link i{
    position: absolute;
    top: 38%;
}

.nav-items{
    line-height: 70px;
    font-size: 1.2em;
}

.banner-text{
    color: #fff;
    background-color: rgba(75, 133, 170, 0.38);
    margin-top: 300px;
    font-size: 2em;
}

.body-content{
    margin-top: 80px;
    margin-bottom: 70px;
}

.separator{
    height: 3px;
    background-color: #c9caca;
    width: 100%;
}

#became-member{
    margin-top: 52px;
    /* padding-top: 77px; */
    position: relative;
}

#register-btn{
    position: absolute;
    top: 60%;
    left: 50%;
    margin-left: -57px;
}


#your-story{
    color: #fff;
    background-color: #00458c;
    padding: 50px 50px 25px 50px;
}

.paging-btn button{
    width: 15px;
    height: 15px;
    background: url(./assets/app/media/img/logos/round-btn.png);
    border: none;
    background-position: -20px 0px;
}

.paging-btn button.active, .paging-btn button:hover{
    width: 15px;
    height: 15px;
    background: url(./assets/app/media/img/logos/round-btn.png);
    border: none;
    background-position: 0px 0px;
}


footer{
    background-color: #e2e2e1;
    padding-top: 70px;
    padding-bottom: 50px;
}

footer ul{
    padding: 0;
}

footer ul li{
    list-style: none;
}

footer ul li a{
    text-decoration: none !important;
    color: #3d3d3d;
}

.social .icon{
    float: left;
    margin: 10px;
}

.icon{
    background: url(./assets/app/media/img/logos/social-icons.png);
    height: 55px;
    width: 56px;
    display: block;
    overflow: hidden;
}

.icon.fb{
    background-position: 0 0;
}

.icon.ig{
    background-position: -75px 0;
}

.icon.gplus{
    background-position: -151px 0;
}

.icon.twit{
    background-position: -225px 0;
}

.copy-right{
    height: 53px;
    line-height: 53px;
}


@media only screen and (max-width: 640px) {
    #banner-button{
        text-align: center;
        position: unset;
    }

    #register-btn{
        padding: 0.35rem 0.75rem;
        font-size: 0.875rem;
        line-height: 1.5;
        border-radius: 0.2rem;
    }
}

.property {
    margin-top: 48px;
    margin-bottom: 10px;
}
.list-controller{
    margin-top: 60px;
}
.list-items{
    margin-top: 48px;
    margin-bottom: 48px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.item-details label{
    font-size: 1.35em;
}
.more-btn{
    padding-bottom: 48px;
    margin: auto;
}

.icon-view{
    background: url(./assets/app/media/img/logos/icon.png);
    height: 21px;
    width: 21px;
    display: block;
    overflow: hidden;
    float: left;
    margin-right: 5px;
}

.icon-list{
    background-position: 0 0;
}

.icon-grid{
    background-position: -31px 0;
}



