<footer>
	<div style="margin-bottom: 40px;" class="col-md-12">
		<div class="row text-center">
			<div class="col-md-4">
				<img src="./assets/app/media/img/logos/logo.png" width="186px" height="86px" class="footer-logo">
			</div>
			<div class="col-md-2">
				<h3 class="text-uppercase">site map</h3>
				<ul>
					<li>
						<a href="#">Why CRE Investment?</a>
					</li>
					<li>
						<a href="#">Why Era-X?</a>
					</li>
					<li>
						<a href="#">FAQ</a>
					</li>
				</ul>
			</div>
			<div class="col-md-2">
				<h3 class="text-uppercase">policies</h3>
				<ul>
					<li>
						<a href="#">Terms Of Service</a>
					</li>
					<li>
						<a href="#">Privacy Policy</a>
					</li>
					<li>
						<a href="#">Posting Policy</a>
					</li>
				</ul>
			</div>
			<div class="col-md-3">
				<h3 class="text-uppercase">contact us</h3>
				<address>
					70 Bowman St.
					<br/> South Windsor, CT 06074
					<br/> +1-202-536-9990
					<br/> info@yahoo.com
				</address>
			</div>
		</div>
	</div>
	<section class="social">
		<div class="justify-content-center row">
			<ul class="row">
				<li>
					<a href="#" class="icon fb"></a>
				</li>
				<li>
					<a href="#" class="icon ig"></a>
				</li>
				<li>
					<a href="#" class="icon gplus"></a>
				</li>
				<li>
					<a href="#" class="icon twit"></a>
				</li>
			</ul>
		</div>
	</section>
</footer>
<section class="copy-right text-center">copyright &copy; 2017 PHIIG Investment Group</section>