<div class="phiig-body">    
    <div class="container" style="padding-top: 30px">
    <!--begin::Portlet-->
    <div class="m-portlet m-portlet--tabs gray-bg">
        <div class="m-portlet__head">
            <div class="m-portlet__head-tools">
                <ul class="nav nav-tabs m-tabs-line m-tabs-line--primary m-tabs-line--2x" role="tablist">
                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_6_1" role="tab">
                         Investor Reports
                        </a>
                    </li>
                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_2" role="tab">
                           Setup Funds
                        </a>
                    </li>
                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_3" role="tab">
                          Setup Bank Account
                        </a>
                    </li>
                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_4" role="tab">
                            Income & Distribution Tracking
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="tab-content ">
                <div class="tab-pane active" id="m_tabs_6_1" role="tabpanel">
                    <div class="row text-center">
                        <div class="col-md-12">
                            <h5>Monthly Report by Investors</h5>
                        </div>
                    </div>
                    <div class="m--space-20"></div>  
                    <div class="justify-content-center row">
                        <div class="col-md-7">
                            <form class="m-form m-form--fit m-form--label-align-right">
                                <div class="m-form__group form-group row">
                                    <label class="col-4 col-form-label">Investment Amount</label>
                                    <div class="col-8">
                                        <input type="text" class="form-control m-input" placeholder="Name of LLC">
                                    </div> 
                                </div>
                                <div class="m-form__group form-group row">
                                    <label class="col-4 col-form-label">Name of LLC</label>
                                    <div class="col-8">
                                        <input type="text" class="form-control m-input" placeholder="Name of LLC">   
                                    </div> 
                                </div>
                                <div class="m-form__group form-group row">
                                    <label class="col-4 col-form-label">Month</label>
                                    <div class="col-8">
                                        <input type="text" class="form-control m-input" placeholder="User ID">   
                                    </div> 
                                </div>
                            </form>
                        </div>
                        
                    </div>
                    <div class="m--space-40"></div>
                    <div class="justify-content-center row">
                        <div class="m-form__actions">
                            <button type="reset" class="btn btn-danger">Submit</button>                       
                            <button type="reset" class="btn btn-secondary">Cancel</button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="m_tabs_6_2" role="tabpanel">
                    <div class="row text-center">
                        <div class="col-md-12">
                            <h5>Monthly Report by Investors</h5>
                        </div>
                    </div>
                    <div class="m--space-20"></div>  
                    <div class="justify-content-center row">
                        <div class="col-md-7">
                            <form class="m-form m-form--fit m-form--label-align-right">
                                <div class="m-form__group form-group row">
                                    <label class="col-5 col-form-label">Name of Fund</label>
                                    <div class="col-7">
                                        <select class="form-control m-select2" id="m_select2_1" name="param" data-placeholder="Select a name" style="width: 100%">
                                            <option></option>
                                        </select>
                                    </div> 
                                </div>
                                <div class="m-form__group form-group justify-content-center row">
                                    <label class="col-5 col-form-label">Upload Fund Document</label>
                                    <div class="col-7">
                                        <label class="custom-file">
                                            <input type="file" id="file2" class="custom-file-input">
                                            <span class="custom-file-control"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="m--space-40"></div>
                                <div class="row text-center">
                                    <div class="col-md-12">
                                        <p style="font-size: 1.5em">Select Approved Properties to be Included in Fund</p>
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                        <div style="padding: 10px; margin-bottom: 60px" class="row gray-bg">
                            <div class="col-md-6">
                              <div style="margin-top: 25px; margin-bottom: 25px;" class="row">
                                <div class="col-md-6 text-center"><img src="./assets/app/media/img/logos/list-1.jpg" alt="list image" width="199" height="187" class="img-fluid"/></div>
                                <div class="col-md-6 item-details"> 
                                  <div class="row">
                                    <div class="col-md-6"><label>City</label></div>
                                    <div class="col-md-6"><span>Loem Ipsum</span> </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-6"><label>State</label></div>
                                    <div class="col-md-6"><span>Loem Ipsum</span></div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-6"><label>CPA Rate</label></div>
                                    <div class="col-md-6"><span>120000</span></div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-6">
                                      <button class="btn btn-sm btn-danger">Select</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div style="margin-top: 25px; margin-bottom: 25px;" class="row">
                                <div class="col-md-6 text-center"><img src="./assets/app/media/img/logos/list-2.jpg" alt="list image" width="199" height="187" class="img-fluid"/></div>
                                <div class="col-md-6 item-details"> 
                                    <div class="row">
                                      <div class="col-md-6"><label>City</label></div>
                                      <div class="col-md-6"><span>Loem Ipsum</span> </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-6"><label>State</label></div>
                                      <div class="col-md-6"><span>Loem Ipsum</span></div>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-6"><label>CPA Rate</label></div>
                                      <div class="col-md-6"><span>120000</span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                          <button class="btn btn-sm btn-danger">Select</button>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div style="margin-top: 25px; margin-bottom: 25px;" class="row">
                                <div class="col-md-6 text-center"><img src="./assets/app/media/img/logos/list-3.jpg" alt="list image" width="199" height="187" class="img-fluid"/></div>
                                <div class="col-md-6 item-details"> 
                                    <div class="row">
                                      <div class="col-md-6"><label>City</label></div>
                                      <div class="col-md-6"><span>Loem Ipsum</span> </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-6"><label>State</label></div>
                                      <div class="col-md-6"><span>Loem Ipsum</span></div>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-6"><label>CPA Rate</label></div>
                                      <div class="col-md-6"><span>120000</span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                          <button class="btn btn-sm btn-danger">Select</button>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div style="margin-top: 25px; margin-bottom: 25px;" class="row">
                                <div class="col-md-6 text-center"><img src="./assets/app/media/img/logos/list-4.jpg" alt="list image" width="199" height="187" class="img-fluid"/></div>
                                <div class="col-md-6 item-details"> 
                                    <div class="row">
                                      <div class="col-md-6"><label>City</label></div>
                                      <div class="col-md-6"><span>Loem Ipsum</span> </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-6"><label>State</label></div>
                                      <div class="col-md-6"><span>Loem Ipsum</span></div>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-6"><label>CPA Rate</label></div>
                                      <div class="col-md-6"><span>120000</span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                          <button class="btn btn-sm btn-danger">Select</button>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="m--space-40"></div>
                          <div class="justify-content-center row">
                              <div class="m-form__actions">
                                  <button type="reset" class="btn btn-danger">Submit</button>                       
                                  <button type="reset" class="btn btn-secondary">Cancel</button>
                              </div>
                          </div>
                    </div>
                </div>
                <div class="tab-pane" id="m_tabs_6_3" role="tabpanel">
                    <div class="justify-content-center row">
                            <div class="col-md-6">
                                <form class="m-form m-form--fit m-form--label-align-right">
                                    <div class="m-form__group form-group row">
                                        <label class="col-4 col-form-label">Name of LLC</label>
                                        <div class="col-8">
                                            <input type="text" class="form-control m-input" placeholder="Name of LLC">
                                        </div> 
                                    </div>
                                    <div class="m-form__group form-group row">
                                        <label class="col-4 col-form-label">Account<span>*</span></label>
                                        <div class="col-8">
                                            <input type="text" class="form-control m-input" placeholder="Account">   
                                        </div> 
                                    </div>
                                    <div class="m-form__group form-group row">
                                        <label class="col-4 col-form-label">User ID</label>
                                        <div class="col-8">
                                            <input type="text" class="form-control m-input" placeholder="User ID">   
                                        </div> 
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6">
                                    <form class="m-form m-form--fit m-form--label-align-right">
                                        <div class="m-form__group form-group row">
                                                <label class="col-4 col-form-label">Name of Bank</label>
                                                <div class="col-8">
                                                    <input type="text" class="form-control m-input" placeholder="Name of Bank">
                                                </div> 
                                            </div>
                                            <div class="m-form__group form-group row">
                                                <label class="col-4 col-form-label">Routing<span>*</span></label>
                                                <div class="col-8">
                                                    <input type="text" class="form-control m-input" placeholder="Routing">   
                                                </div> 
                                            </div>
                                            <div class="m-form__group form-group row">
                                                <label class="col-4 col-form-label">Password</label>
                                                <div class="col-8">
                                                    <input type="password" class="form-control m-input" placeholder="Password">   
                                                </div> 
                                            </div>
                                    </form>
                                </div>
                        </div>
                        <div class="m--space-40"></div>
                        <div class="justify-content-center row">
                            <div class="m-form__actions">
                                <button type="reset" class="btn btn-danger">Submit</button>                       
                                <button type="reset" class="btn btn-secondary">Cancel</button>
                            </div>
                        </div>
                </div>
                <div class="tab-pane" id="m_tabs_6_4" role="tabpanel">
                        <div class="justify-content-center row">
                                <div class="col-md-6">
                                    <form class="m-form m-form--fit m-form--label-align-right">
                                        <div class="m-form__group form-group row">
                                            <label class="col-4 col-form-label">Name of LLC</label>
                                            <div class="col-8">
                                                <select class="form-control m-select2" id="m_select2_1" name="param" data-placeholder="Select a type" style="width: 100%">
                                                    <option></option>
                                                    <option value="Private">Private</option>
                                                    <option value="Public">Public</option>
                                                </select>
                                                <span class="m-form__help">
                                                    <label class="m-checkbox">
                                                        <input type="checkbox" name="activellcs"> Check here for all active LLCs<span></span>
                                                    </label>
                                                   
                                                </span>
                                            </div> 
                                        </div>
                                        <div class="m-form__group form-group row">
                                            <label class="col-4 col-form-label">Total Income</label>
                                            <div class="col-8">
                                                <input type="text" class="form-control m-input" placeholder="Total Income">   
                                            </div> 
                                        </div>
                                       
                                    </form>
                                </div>
                                <div class="col-md-6">
                                    <form class="m-form m-form--fit m-form--label-align-right">
                                        <div class="m-form__group form-group row">
                                                <label class="col-4 col-form-label">Total Expenses</label>
                                                <div class="col-8">
                                                    <input type="text" class="form-control m-input" placeholder="Total Expenses">
                                                </div> 
                                            </div>
                                            <div class="m--space-40"></div>
                                            <div class="m-form__group form-group row">
                                                <label class="col-4 col-form-label">Total Distribution</label>
                                                <div class="col-8">
                                                    <input type="text" class="form-control m-input" placeholder="Total Distribution">   
                                                </div> 
                                            </div>
                                    </form>
                                </div>
                            </div>
                            <div class="m--space-40"></div>
                            <div class="row text-center">
                                <div class="col-md-12">
                                    <h5>DISTRIBUTION BREAKDOWN</h5>
                                </div>
                            </div>
                            <div class="m--space-40"></div>
                            <div class="justify-content-center row">
                                    <div class="col-md-6">
                                        <form class="m-form m-form--fit m-form--label-align-right">
                                            <div class="m-form__group form-group row">
                                                <label class="col-4 col-form-label">Investor Name 1</label>
                                                <div class="col-8">
                                                    <input type="text" class="form-control m-input" placeholder="Investor Name 1">   
                                                </div> 
                                            </div>
                                            <div class="m-form__group form-group row">
                                                <label class="col-4 col-form-label">Investor Name 2</label>
                                                <div class="col-8">
                                                    <input type="text" class="form-control m-input" placeholder="Investor Name 2">   
                                                </div>
                                            </div>
                                            <div class="m-form__group form-group row">
                                                <label class="col-4 col-form-label">Investor Name 3</label>
                                                <div class="col-8">
                                                    <input type="text" class="form-control m-input" placeholder="Investor Name 3">   
                                                </div>
                                            </div>
                                           
                                        </form>
                                    </div>
                                    <div class="col-md-6">
                                        <form class="m-form m-form--fit m-form--label-align-right">
                                            <div class="m-form__group form-group row">
                                                <label class="col-4 col-form-label">Amount</label>
                                                <div class="col-8">
                                                    <input type="text" class="form-control m-input" placeholder="Amount">
                                                </div> 
                                            </div>
                                            <div class="m-form__group form-group row">
                                                <label class="col-4 col-form-label">Amount</label>
                                                <div class="col-8">
                                                    <input type="text" class="form-control m-input" placeholder="Amount">
                                                </div> 
                                            </div>
                                            <div class="m-form__group form-group row">
                                                <label class="col-4 col-form-label">Amount</label>
                                                <div class="col-8">
                                                    <input type="text" class="form-control m-input" placeholder="Amount">
                                                </div> 
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            <div class="m--space-40"></div>
                            <div class="justify-content-center row">
                                <div class="m-form__actions">
                                    <button type="reset" class="btn btn-danger">Submit</button>                       
                                    <button type="reset" class="btn btn-secondary">Cancel</button>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
    <!--end::Portlet-->
    </div>
</div>